@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <div class="mt-4">
        <a class="btn btn-primary m-2" asp-controller="Usuarios" asp-action="Index">Usuarios</a>
        <a class="btn btn-success m-2" asp-controller="Libros" asp-action="Index">Libros</a>
        <a class="btn btn-info m-2" asp-controller="Prestamos" asp-action="Index">Préstamos</a>
    </div>
</div>
